
	{% extends 'blank.html' %}
{% block contents %}
	<body>


		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">

							<li><a href="{% url 'home' %}">All Categories</a></li>

							<li class="active">{{category_name.name}} Collections</li>

						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->


		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- STORE -->
					<div id="store" class="col-md-13">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<h1>{{ category_name.name}}</h1>

							</div>

						</div>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row">
							<!-- product -->

							{% for pro in products %}

							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{{pro.product_image.url}}" alt="">
										<div class="product-label">
											<span class="sale">-30%</span>
											<span class="new">NEW</span>
										</div>
									</div>
									<div class="product-body">
										<p class="product-category">Category</p>
										<h3 class="product-name"><a href="{% url 'product_detail' pro.category.slug pro.slug %}">{{ pro.name }}</a></h3>
										<h4 class="product-price">{{ pro.original_price }} :<del class="product-old-price">  {{ pro.seling_price }}</del></h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
											<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
											<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
								</div>
							</div>
							{% endfor %}


 {% endblock %}